<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thanks for contact us!</h1>
    <p><strong>Person Name:</strong><%= Data.person %></p>
     <p><strong>Course Name:</strong><%= Data.course %></p>
      <p><strong>Email ID:</strong><%= Data.email %></p>
</body>
</html>